<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app_name}">Blog</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class="text-center" th:text="${blog.title}">Blog Title</h2>
                <p> Published On: <em th:text="${blog.createdDate}">Created Date</em></p>
            </div>
            <hr/>
            <div th:text="${blog.body}"></div>
        </div>
    </div>
</div>

</body>
</html>

